*{
	box-sizing: border-box;
	font-family: helvetica;
	margin: 0;
	padding: 0;

}
body{
	background: #000;
	margin: auto;
	max-width: 110%;
	width: 95%;
}
a,p,li{
	color: #fff;
	list-style: none;
	text-decoration: none;
	z-index: 1;
}
a{
	display: block;
	padding:10px 15px;
}
header{
	margin: auto;
	width: 100%;
}
nav{
	border-bottom: 1px solid #ff3737;
	display:flex;
	justify-content: space-between;
}
.logo{
	display: table;
	background: #ff3737;
}
nav>ul{
	display: inline-flex;
	position: relative;
}
nav>ul>li{
	transition: all 200ms;
	-webkit-transition: all 200ms;
	cursor: pointer;
	display: table;
}
nav>ul>li:hover{
	background: #ff3737;
}
nav>ul>li> .genres{
	overflow:auto;
	height: 500px;
}
nav>ul>li>ul{
	
	display: none;
	position: absolute;
}
nav>ul>li:hover>ul,form{
	background: #000;
	display: block;
	position: absolute;
}
nav>ul>li>ul a:hover{
	background: #ff3737;
}
.search{
	position: relative;
}
form{
	
	border-top: 1px solid #ff3737;
	position: absolute;
	padding:10px 15px;
	display: flex;
	right: -100px;
}
form #submit{
	display: none;
}
.border{
	border-top: 1px solid #ff3737;
}
.genres:hover > nav>ul>li>ul a:hover{

	
}
.slider{
	margin: 10px auto;
	width: 95%;
}
.popular-movies{
	overflow: hidden;
}
.popular-movies:hover{
	
	
}
.movie-container{
	display: flex;
	justify-content: space-between;
	width: 1200px;
}
.movie-container:hover .image-effect{
	animation-play-state: paused;
}
.image-effect{
	animation: movie-slider 10s  infinite alternate linear;
	overflow: hidden;
}
@keyframes movie-slider{
	0%{margin-left: 0%;}
	100%{margin-left: -100%;}
	0%{margin-right: -100%;}
	100%{margin-right: 10%;}
}
.image-effect img{
	transition: all 300ms;
	-webkit-transition: all 300ms;
}
.image-effect:hover img{
	opacity: .5;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.movie-image{
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 200px;
}
.movie-info{
	cursor: pointer;
	bottom: 0;
	display: none;
	height: 300px;
	justify-content: center;
	position: absolute;
	transition: all .5s;
	-webkit-transition: all .5s;
	width: 200px;
}
.movie-title{
	background: rgba(255,55,55,.8);
	border-radius: 3px;
	margin:10px;
	text-align: center;
	color: #fff;
}
.movie-title:hover{
	background: #ff4848;
}
.movie-sinopsis{
	margin: auto;
	text-align: justify;
	width: 95%;
}
.links{
	display: flex;
	justify-content:space-around;
}
.watch,.down{
	background: rgba(0, 128, 0, 0.8);
	border-radius: 3px;
	margin: 10px;
	padding: 8px;
}
.watch:hover{
	background: #22e322;
}
.down:hover{
	background: #22e322;
}
.movie-image:hover .movie-info{
	display: block;
}
section{
	width: 100%
}
.section{
	margin: auto;
	width: 95%;
}
section > h2{
	border-bottom: 1px solid #ff4848;
	color: #fff;
	line-height: 1.5em;
	text-align: center;
	width: 100%;
}
.recents-movies{
	margin-top: 20px;
	margin-bottom: 20px;
}
.recents-movie-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.image-poster{
	height: 300px;
	margin-bottom: 20px;
	overflow: hidden;
	width: 200px;
}
.image-poster:hover img{
	opacity: .5;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.image-poster img{
	transition: all 300ms;
	-webkit-transition: all 300ms;
}
footer{
	display: flex;
	border-top: 1px solid #ff4848;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
footer >p{
	display: flex;
	align-items: center;
}
.social{
	box-sizing: border-box;
	
	font-size: 20px;
}
footer div p{
	color: #898989;
	padding: 10px 15px;
	text-align: justify;
}