<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>group2</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>com.controller.InitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <servlet-class>com.controller.CustomerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <servlet-class>com.controller.AdminRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Step1Servlet</servlet-name>
        <servlet-class>com.controller.Step1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Step2Servlet</servlet-name>
        <servlet-class>com.controller.Step2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Step3Servlet</servlet-name>
        <servlet-class>com.controller.Step3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookingServlet</servlet-name>
        <servlet-class>com.controller.EditBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <servlet-class>com.controller.DeleteBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/InitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>group2</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <url-pattern>/CustomerRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <url-pattern>/AdminRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Step1Servlet</servlet-name>
        <url-pattern>/Step1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Step2Servlet</servlet-name>
        <url-pattern>/Step2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Step3Servlet</servlet-name>
        <url-pattern>/Step3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookingServlet</servlet-name>
        <url-pattern>/EditBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <url-pattern>/DeleteBookingServlet</url-pattern>
    </servlet-mapping>
    
</web-app>
