<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
      
    <servlet>
        <servlet-name>group2</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>com.controller.InitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <servlet-class>com.controller.CustomerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <servlet-class>com.controller.AdminRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerMainServlet</servlet-name>
        <servlet-class>com.controller.CustomerMainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMainServlet</servlet-name>
        <servlet-class>com.controller.AdminMainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAccountServlet</servlet-name>
        <servlet-class>com.controller.CustomerAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountServlet</servlet-name>
        <servlet-class>com.controller.AdminAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieAddServlet</servlet-name>
        <servlet-class>com.controller.MovieAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieSearchServlet</servlet-name>
        <servlet-class>com.controller.MovieSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieDeleteServlet</servlet-name>
        <servlet-class>com.controller.MovieDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieUpdateServlet</servlet-name>
        <servlet-class>com.controller.MovieUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieViewServlet</servlet-name>
        <servlet-class>com.controller.MovieViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/InitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <url-pattern>/CustomerRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <url-pattern>/AdminRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerMainServlet</servlet-name>
        <url-pattern>/CustomerMainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMainServlet</servlet-name>
        <url-pattern>/AdminMainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAccountServlet</servlet-name>
        <url-pattern>/CustomerAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountServlet</servlet-name>
        <url-pattern>/AdminAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieAddServlet</servlet-name>
        <url-pattern>/MovieAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieSearchServlet</servlet-name>
        <url-pattern>/MovieSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieDeleteServlet</servlet-name>
        <url-pattern>/MovieDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieUpdateServlet</servlet-name>
        <url-pattern>/MovieUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieViewServlet</servlet-name>
        <url-pattern>/MovieViewServlet</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>group2</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
